<nav class="col-md-2 d-none d-md-block bg-light sidebar mt-3">
    <div class="sidebar-sticky">
        <!-- <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let item of navItems">
        <a class="nav-link" [routerLink]="item.route" [routerLinkActive]="['active']">
        {{ item.name | translate }} <span class="sr-only">(current)</span>
        </a>
        </li>
        </ul>
        -->
        <h4 class="text-center">Categories</h4>
        <ul class="nav flex-column">
            <li class="nav-item" *ngFor="let item of categoriesList">
                <i [class]="item.icon"></i>
                <a class="nav-link">
                    {{ item.name }} <span class="sr-only">(current)</span>
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <i class="fa fa-plus"></i>
                <a class="nav-link" [routerLink]="['/categories']">
                    Categories
                </a>
            </li>
        </ul>
        <div class="version">
            <app-version></app-version>
        </div>
    </div>
</nav>