<div class="row">
    <div class="col-md-8">
        <div class="card" style="border-radius: 20px;">
            <div class="card-body">
                <div class="cart-view">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="'https://c1.neweggimages.com/ProductImageCompressAll1280/20-236-426-02.jpg'"
                                alt="" width="100%">
                        </div>
                        <div class="col-md-8">
                            <div class="cart-info">
                                <h5>CORSAIR Vengeance RGB Pro 16GB (2 x 8GB) 288-Pin DDR4 DRAM DDR4 3000 (PC4 24000)
                                    Desktop Memory Model CMW16GX4M2D3000C16</h5>
                                <p>
                                    Dynamic Multi-Zone RGB Lighting: 10 Ultra-bright RGB LEDs per module.
                                    Next Generation Software: Take control in CORSAIR iCUE software and synchronize
                                    lighting with other CORSAIR RGB products, including CPU coolers, keyboards and fans.
                                    Custom Performance PCB: Provides the highest signal quality for the greatest level
                                    of performance and stability.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>